<div>
    <% if signed_in? %>
        <h3>Feeds</h3>
        <% current_user.subscribes.each do |subscribe| %>
            <center>
                <div class="w-50">
                    <%= render partial: "categories/photos/photo", collection: subscribe.category.photos %>
                </div> 
            </center>
        <% end %>
    <% else %>
        <h2>Welcome to the IGallary!</h2>
        <% @photos.each do |photo| %>
             <%=  image_tag (photo.image.url) %>
        <% end %>
    <% end %>
</div>

 