<div>
    <% if signed_in? %>
        <h2>Feeds</h2>
        <% current_user.subscribes.each do |subscribe| %>
            <%= render partial: "categories/photos/photo", collection: subscribe.category.photos %>
        <% end %>
    <% else %>
        <h1>Welcome to the IGallary!</h1>
        <% @photos.each do |photo| %>
             <%=  image_tag (photo.image.url) %>
        <% end %>
    <% end %>
</div>