<div>
  <% if signed_in? %>
  <div class="card text-center border-secondary mt-2">
    <h4 class="card-header">Feeds</h4>
  </div>
    <% current_user.subscribes.each do |subscribe| %>
        <div class="row">
          <% subscribe.category.photos.each do |photo| %>
            <center>
              <%= link_to photo.category do %>
                <%=  image_tag (photo.image.url), class:"mt-2" %>
              <% end %>
            </center>
          <% end %>
        </div>
    <% end %>
  <% else %>
    <div class="container-fluid" style="width: 90%;">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "1.jpg", style:"width: 100%;" %>
            <div class="carousel-caption d-none d-md-block fs-1">Welcome to the IGallary</div>
          </div>
          <% @photos.each do |photo| %>
            <div class="carousel-item">
              <%= image_tag (photo.image.url), style:"width: 100%;" %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  <% end %>
</div>
