<div>
    <% if signed_in? %>
        <h3>Feeds</h3>
        <% current_user.subscribes.each do |subscribe| %>
            <center>
                <div class="w-50">
                    <%= render partial: "categories/photos/photo", collection: subscribe.category.photos %>
                </div> 
            </center>
        <% end %>
    <% else %>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <%= image_tag "1.jpg", style:"width: 100%;" %>
                    <div class="carousel-caption d-none d-md-block fs-1">
                        Welcome to the IGallary
                    </div>
                </div>
                <% @photos.each do |photo| %>
                    <div class="carousel-item">
                    <%= image_tag (photo.image.url), style:"width: 100%;" %>
                </div>
                <% end %>
            </div>
                    
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    
    <% end %>
</div>

 