<div>
    <% if signed_in? %>
        <h3>Feeds</h3>
        <% current_user.subscribes.each do |subscribe| %>
            <div class="row row-cols-3">
                <%= render partial: "categories/photos/photo", collection: subscribe.category.photos %>
        <% end %>
            </div> 
    <% else %>
        <h2>Welcome to the IGallary!</h2>
        <% @photos.each do |photo| %>
             <%=  image_tag (photo.image.url) %>
        <% end %>
    <% end %>
</div>



 