<%= form_with(model: [@category, photo]) do |form| %>
  <%= render 'shared/errors', form: form %>
  <div class="row">
    <div class="col-auto">
      <h5 class="card-title text-muted">Add image to this category:</h5>
    </div>
    <div class="col-auto">
      <%= form.file_field :image, class:"form-control form-control-sm" %>
    </div>
    <div class="col-auto">
      <%= form.submit class: "btn btn-outline-success" %>
    </div>
  </div>
<% end %>
