<div id="photos" class="row row-cols-3 ">
  <% @photos.each do |photo| %>
    <div class="col shadow p-3 mb-5 ">
      <center>
      <%= link_to photo.category do %>
        <%=  image_tag (photo.image.url(:large)), class:"rounded" %>
        <% end %>
      </center>
    </div>
  <% end %>
</div>
<%== pagy_bootstrap_nav(@pagy) %>
