<div id="photos">
  <div class="row row-cols-3">
    <% @photos.each do |photo| %>
      <div class="col">
        <%=  image_tag (photo.image.url(:large)) %>
      </div>
    <% end %>
  </div>
</div>



