<div class="form-control" id="<%= dom_id comment %>">

 <p>
    <strong>User:</strong>
    <%= comment.user.email %>
  </p>
  
  <p>
    <strong>Comment:</strong>
    <%=  simple_format(comment.body) %>
  </p>
</div>


