<% if form.object.errors.any? %>
    <div class="alert alert-danger">
        <ul>
        <% form.object.errors.each do |error| %>
            <li><%= error.full_message %></li>
        <% end %>
        </ul>
    </div>
<% end %>
