<div id="<%= dom_id photo %>">
  <p>
    <strong>Img:</strong>
    <%= photo.img %>
  </p>

  <p>
    <strong>User:</strong>
    <%= photo.user.email %>
  </p>

  <p>
    <strong>Folder:</strong>
    <%= photo.folder.title%>
  </p>

</div>
