<div id="<%= dom_id photo %>">
  <p>
  
    <% photo.images.each do |img|%>
    <%= image_tag (img.url) %>
    <% end %>
  </p>

  <p>
    <strong>User:</strong>
    <%= photo.user.email %>
  </p>

  <p>
    <strong>Folder:</strong>
    <%= photo.folder.title%>
  </p>

</div><hr>
