<div id="<%= dom_id photo %>">
  <p>
    <strong>Img:</strong>
    <%= photo.img %>
  </p>

  <p>
    <strong>User:</strong>
    <%= photo.user_id %>
  </p>

  <p>
    <strong>Folder:</strong>
    <%= photo.folder_id %>
  </p>

</div>
