<div id="category">
  <div class="row row-cols-4">
    <% @categories.each do |category| %>
      <div class="col">
        <div class="card">
          <%= render category %><br>
        </div>
      </div>
    <% end %>
  </div> 
</div>


  
